@{
    ViewData["Title"] = "Добавление книги";
}

<div style="display:flex; justify-content:center; margin-top:60px;">

    <form method="get"
          asp-controller="User"
          asp-action="Registration"
          style="display:flex; align-items:center; justify-content:center; gap:10px; padding:18px; border-radius:20px; background:white; box-shadow:0 4px 15px rgba(0,0,0,0.12); width:max-content; margin:auto;">

        <input required class="search-input compact-input" placeholder="Никнейм" name="Name" />
        <input required class="search-input compact-input" placeholder="E-mail" name="Email" />

        <button type="submit" class="search-button">Зарегистрироваться/Войти</button>

    </form>

</div>