@model List<Collection>

@{
    ViewData["Title"] = "Home Page";

    // List<Book> list = new List<Book>();
    // @foreach (Collection item in @Model) foreach (Book book in item.Books) if (!list.Contains(book)) list.Add(book);
    // Book MainBook = new Book("","","");
    // @foreach (Book book1 in @list) if (book1.Id == @ViewBag.MainId) MainBook = book1;
}


<div style="display:flex; flex-direction:row;">
    <div class="text-center" style="width: 18rem; margin-inline: 2rem">
        @foreach (Collection item in @Model)
        {
            <p class="list-group-item">@item.Name</p>
            foreach (var (key, value) in item.Books)
            {
                <a class="btn btn-primary"
                       style="margin: 20px; width:300px;"
                       asp-controller="Book"
                       asp-action="Index"
                       asp-route-id="@key">@value</a>
            }
        }

        <form>
            <input required placeholder="Название" name="Name" />
            <input required placeholder="Автор" name="Author" />
            <input required placeholder="Жанр" name="Genre" />
            <input required placeholder="Статус чтения" name="IsDone" />
            <input placeholder="Краткое описание" name="Description" />
            <input placeholder="Ссылка на изображение" name="PathImage" />

            <button type="submit" asp-controller="Home" asp-action="AddNew">Добавить новый рассказ</button>
        </form>
        @* <a class="btn btn-primary"
           style="margin: 20px; width:300px;"
           asp-controller="Home"
           asp-action="AddNew">Добавить новый рассказ</a> *@

    </div>
</div>
