@model List<Collection>

@{
    ViewData["Title"] = "Home Page";

    // List<Book> list = new List<Book>();
    // @foreach (Collection item in @Model) foreach (Book book in item.Books) if (!list.Contains(book)) list.Add(book);
    // Book MainBook = new Book("","","");
    // @foreach (Book book1 in @list) if (book1.Id == @ViewBag.MainId) MainBook = book1;
}
<a class="btn btn-primary"
   style="margin: 20px; width:300px;"
   asp-controller="Home"
   asp-action="ViewAll">Показать все книги</a>

<div style="display:flex; flex-direction:row;">
    <form>
        <p>Укажите для поиска что-либо из следующих элементов:</p>
        <input placeholder="Название" name="Name" />
        @* <input placeholder="Автор" name="Author" />
        <input placeholder="Жанр" name="Genre" />
        <input placeholder="Краткое описание" name="Description" /> *@

        <button type="submit" asp-controller="Home" asp-action="Search">Найти</button>
    </form>
</div>


<div style="display:flex; flex-direction:row;">
    <div class="text-center" style="width: 18rem; margin-inline: 2rem">
        @foreach (Collection item in @Model)
        {
            <p class="list-group-item">@item.Name</p>
            foreach (var book in item.Books)
            {
                <a class="btn btn-primary"
                   style="margin: 20px; width:300px;"
                   asp-controller="Book"
                   asp-action="Index"
                   asp-route-id="@book.Id">@book.Name</a>
            }
        }

       
        @* <a class="btn btn-primary"
           style="margin: 20px; width:300px;"
           asp-controller="Home"
           asp-action="AddNew">Добавить новый рассказ</a> *@

    </div>
</div>
