@model List<Collection>

@{
    ViewData["Title"] = "Home Page";
}
<a class="btn btn-primary"
   style="margin: 20px; width:300px;"
   asp-controller="Home"
   asp-action="ViewAll">Показать все книги</a>

<div style="display:flex; flex-direction:row;">
    <form>
        <p>Укажите для поиска что-либо из следующих элементов:</p>
        <input placeholder="Название" name="Name" />
        <input placeholder="Автор" name="Author" />
        <input placeholder="Жанр" name="Genre" />
        <input placeholder="Краткое описание" name="Description" />
        <p>Оценки:</p>
        <<input type="number" placeholder="От" name="from" />
        <input type="number" placeholder="До" name="to" />

        <button type="submit" asp-controller="Home" asp-action="Search">Найти</button>
    </form>
</div>


<div style="display:flex; flex-direction:row;">
    <div class="text-center" style="width: 18rem; margin-inline: 2rem">
        @foreach (Collection item in @Model)
        {
            <p class="list-group-item">@item.Name</p>
            foreach (var book in item.Books.OrderByDescending(b => b.Rating).ToList())
            {
                <a class="btn btn-primary"
                   style="margin: 20px; width:300px;"
                   asp-controller="Book"
                   asp-action="Index"
                   asp-route-id="@book.Id">@book.Name</a>
            }
        }


    </div>
</div>
